* {
    margin:0;
    padding: 0;
}

body {
    background-color: dimgray;
}

section.galleryView {
    width: 500px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 2px;

}

.buttonStyle{
    width: 50px;
    height: 20px;
    font-size: 0.5em;
}
